src/main/mule/hellomule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b0e75250-3645-401c-a96a-3338a6792f89" basePath="/api" >
		<http:listener-connection host="0.0.0.0" port="8089" />
	</http:listener-config>
	<flow name="hellomuleFlow" doc:id="f2ab940e-447a-4ed4-923c-e77112f1f58a" >
		<http:listener doc:name="Listener" doc:id="515ed9a4-8bd4-4b11-a216-4e196e43da71" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value='#[%dw 2.0
output application/json
---
{
	data:"hello there"
}]' doc:name="Set Payload" doc:id="06500393-d948-45fc-ad20-e37e9b3923ce" />
	</flow>
</mule>
